@media screen and (max-width: 425px) {
  .col.s8.l8 {
    font-size: 12.3px;
  }
  /* [type="radio"]:not(:checked) + span,
  [type="radio"]:checked + span {
    padding-left: 22px;
    border: 0px;
    width: 50%;
    height: 1.5em;
  } */

  [type="radio"]:not(:checked) + span,
  [type="radio"]:checked + span {
    height: 1.73em !important;
  }

  @-moz-document url-prefix() {
    [type="radio"]:not(:checked) + span,
    [type="radio"]:checked + span {
      height: 1.5em !important;
    }
  }
}

@media screen and (max-width: 767px) {
  .shorter {
    visibility: visible;
    position: relative;
  }
  .longer {
    visibility: hidden;
    position: absolute;
  }
}

@media screen and (min-width: 768px) {
  .shorter {
    visibility: hidden;
    position: absolute;
  }
  .longer {
    visibility: visible;
    position: relative;
  }
}

@media screen and (min-width: 1024px) {
  .shorter {
    visibility: hidden;
    position: absolute;
  }
  .longer {
    visibility: visible;
    position: relative;
  }
}

.row .col.s2 {
  width: 16%;
}

body,
.container {
  height: 100%;
}

.content-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
body {
  background-image: url("https://images.unsplash.com/photo-1553356084-58ef4a67b2a7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&w=1080&q=80");
  background-position: center;
  background-size: cover;
}

.progress-indicator {
  font-size: 50px;
}

[type="radio"]:not(:checked) + span,
[type="radio"]:checked + span {
  padding-left: 22px;
}

#nextBtn {
  background-color: #74a2de !important;
}

#prevBtn {
  background-color: #e2a3d4 !important;
}

[type="radio"]:checked + span::after,
[type="radio"].with-gap:checked + span::after {
  background-color: black;
}

[type="radio"]:checked + span::after,
[type="radio"].with-gap:checked + span::before,
[type="radio"].with-gap:checked + span::after {
  border: 2px solid black;
}

[type="radio"]:not(:checked) + span,
[type="radio"]:checked + span {
  height: 2em;
}

@-moz-document url-prefix() {
  [type="radio"]:not(:checked) + span,
  [type="radio"]:checked + span {
    height: 1.73em;
  }
}
